.place__image {
  max-width: 460px;
  width: 100%;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 720px) {
  .place__image {
    max-width: 280px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .place__image {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
  }
}
