.lead {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  margin: 0 auto 92px;
  outline: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 96px);
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 100%;
    margin-bottom: 64px;
  }
}


