.intro {
  margin: 0 auto 92px;
  max-width: 984px;
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .intro {
    max-width: calc(100% - 96px);
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 0 auto 88px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .intro {
    max-width: calc(100% - 32px);
    margin: 0 auto 64px;
  }
}
