.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
  position: relative;
}

@media screen and (min-width: 441px) and (max-width: 460px) {
  .cover {
    margin-bottom: 20vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 440px) {
  .cover {
    margin-bottom: 20vw;
  }
}
