.footer__list-item:not(:last-child) {
  margin-right: 18px;
}

@media screen and (max-width: 425px) {
  .footer__list-item:not(:last-child) {
    margin-right: 0;
  }

  .footer__list-item {
    margin-bottom: 32px;
  }
}
